### These excercises come from "*Data Wrangling with Python*"

*Lists, variables, dictionaries, etc.*

In [1]:
import sys
import pprint

In [2]:
02113

SyntaxError: invalid token (<ipython-input-2-7885db7fa79c>, line 1)

In [3]:
"02113"

'02113'

In [4]:
2/3

0.6666666666666666

In [5]:
2.0/3

0.6666666666666666

In [6]:
0.1 + 0.2

0.30000000000000004

In [7]:
from decimal import getcontext, Decimal
getcontext().prec = 1
Decimal(0.1) + Decimal(0.2)

Decimal('0.3')

In [8]:
print(Decimal('0.3'))

0.3

In [9]:
getcontext().prec = 3
Decimal(0.5) + Decimal(0.2)

Decimal('0.700')

In [10]:
filename = "budget.csv"

In [11]:
4use = "This will never work"

SyntaxError: invalid syntax (<ipython-input-11-93581b066cde>, line 1)

In [12]:
cats = 37

In [13]:
cats

37

In [14]:
filename

'budget.csv'

In [15]:
rats

NameError: name 'rats' is not defined

In [16]:
roger = budget.csv

NameError: name 'budget' is not defined

In [17]:
alice = "Alice in Wonderland is possibly one of the most influential books of the 21st century. It describes both mental illness and a sense of wonder."

In [18]:
alice

'Alice in Wonderland is possibly one of the most influential books of the 21st century. It describes both mental illness and a sense of wonder.'

In [19]:
["bread", "cheese", "lettuce", "tomato"]

['bread', 'cheese', 'lettuce', 'tomato']

In [20]:
[5, 7.9, 13, 17.75]

[5, 7.9, 13, 17.75]

In [21]:
shop = ["bread", "cheese", "lettuce", "tomato"]

In [22]:
shop

['bread', 'cheese', 'lettuce', 'tomato']

In [23]:
cat_num = 6
dog_num = 2
rat_num = 13
coon_num = 3

In [24]:
animals = [cat_num, dog_num, rat_num, coon_num]

In [25]:
animals

[6, 2, 13, 3]

In [26]:
cat_names = ["Twinkie", "Twinkle", "Nifty", "Gnosis", "Shire", "Lucky"]
dog_names = ["Diana", "Maya"]
coon_names = ["King Trash Mouth", "Pudding Snatcher", "Bandit"]

In [27]:
names = [cat_names, dog_names, coon_names]

In [28]:
names

[['Twinkie', 'Twinkle', 'Nifty', 'Gnosis', 'Shire', 'Lucky'],
 ['Diana', 'Maya'],
 ['King Trash Mouth', 'Pudding Snatcher', 'Bandit']]

In [29]:
cars = {"suv" : 5, "sports" : 8, "truck" : 9}

In [30]:
cars["suv"]

5

In [31]:
Names = {
    "cats" : cat_names,
    "dogs" : dog_names,
    "coons" : coon_names
}

In [32]:
Names["coons"]

['King Trash Mouth', 'Pudding Snatcher', 'Bandit']

In [33]:
Filename = "budget.csv              "

In [34]:
filename = Filename.strip()

In [35]:
filename

'budget.csv'

In [36]:
filename.upper()

'BUDGET.CSV'

In [37]:
perfect = 49 + 24

In [38]:
perfect

73

In [39]:
"coons" + " dogs"

'coons dogs'

In [40]:
coon_hound = dog_names + coon_names

In [41]:
coon_hound - ["Maya"]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [42]:
dog_names.append("Hecate")

In [43]:
dog_names

['Diana', 'Maya', 'Hecate']

In [44]:
alias = []

In [45]:
alias.append("Joker")

In [46]:
alias.append("Simon")

In [47]:
alias.append("Ellie")

In [48]:
alias.append("Lishka")

In [49]:
alias.append("Turtle")

In [50]:
alias

['Joker', 'Simon', 'Ellie', 'Lishka', 'Turtle']

In [51]:
alias.append("Nigel")
alias.remove("Nigel")

In [52]:
alias

['Joker', 'Simon', 'Ellie', 'Lishka', 'Turtle']

In [53]:
tarot_cards = {}
tarot_cards["major arcana"] = 22
tarot_cards["swords num"] = 10
tarot_cards["coins num"] = 10
tarot_cards["cups num"] = 10
tarot_cards["wands num"] = 10
tarot_cards["court"] = (4 * 4)

In [54]:
tarot_cards

{'major arcana': 22,
 'swords num': 10,
 'coins num': 10,
 'cups num': 10,
 'wands num': 10,
 'court': 16}

In [55]:
tarot_cards.keys()

dict_keys(['major arcana', 'swords num', 'coins num', 'cups num', 'wands num', 'court'])

In [56]:
tarot_cards["court"]

16

In [57]:
tarot_cards.values()

dict_values([22, 10, 10, 10, 10, 16])

In [59]:
type("751935")

str

In [60]:
type(751935)

int

In [61]:
dir("night,day,twilight")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [62]:
"night,day,twilight".split(",")

['night', 'day', 'twilight']

In [64]:
dir(["night", "day", "twilight"])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [69]:
times = ["night", "day", "twilight"]

In [70]:
times.reverse()

In [71]:
times

['twilight', 'day', 'night']

In [72]:
times.sort()

In [73]:
times

['day', 'night', 'twilight']

In [74]:
dir(99)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [75]:
dir(5.7795)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [76]:
elements = "earth,air,fire,water"
elements.split()

['earth,air,fire,water']

In [81]:
help(elements.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [78]:
elements.split(sep=",", maxsplit=2)

['earth', 'air', 'fire,water']

##### **Putting it all together**